image:
  repository: harnessacr123.azurecr.io/hello-world
  tag: <+artifacts.primary.tag>

service:
  type: LoadBalancer

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"
